* {
    box-sizing: border-box;
  }
  
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    letter-spacing: 0.03rem;
    font-size: 1.3rem;
    line-height: 1.7rem;
    height: 100vh;
  }
  
  #root {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #f7f5fc;
  }
  
  h1 {
    font-size: 1.8rem;
  }
  
  h2 {
    font-size: 1.4rem;
  }
  
  h3 {
    font-size:1.2rem;
  }
  
  h1, h2, h3 {
    margin: 0;
    padding: 0;
  }

  button, select {
    font-size: 1.4rem;
    margin-left: 0.5rem;
    padding: 0;
  }

  select {
    border: 1px solid #a09cac;
    background-color: #e8e5f0;
  }

  .score {
    border: 3px solid #e8e5f0;
    border-radius: 0.3rem;
    height: 30vh;
    overflow: auto;
    background-color: #fff;
    &__items {
      margin: 0;
      font-size: 1.2rem;
      text-indent: -1.7rem;
    }
    &__item-correct, &__item-incorrect, &__item-passed {
      list-style: none;
      margin: 1rem;
    }
    &__item-correct {
      &::before {
        content: '\1F44D';
        color: #ffd258;
        margin-right: 0.3rem;
      }
    }
    &__item-incorrect {
      &::before {
        content: '\2718'; // 2716
        color: #ff2222;
        margin-right: 0.7rem;
      }
    }
    &__item-passed {
      &::before {
        content: '\26A1';
        color: transparent;  
        text-shadow: 0 0 0 #ff2222;
        margin-right: 0.3rem;
      }
    }
  }
  
  .answers { // ul
    margin: 1rem 0;
    padding: 0;
    &__option {
      cursor: pointer;
      padding: 0.7rem;
      margin: 1rem 0;
      background:#fff;
      list-style: none;
      border-radius: 0.3rem;
      -webkit-filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.2));
      filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.2));
      &:hover {
        background:#ffd258;
        -webkit-filter: drop-shadow(0 0.7rem 0.3rem rgba(0,0,0,0.2));
        filter: drop-shadow(0 0.7rem 0.3rem rgba(0,0,0,0.2));
      }
    }
  }
  
  .header {
    background-color: #ffd258;
    margin: 0;
    padding: 1rem;
  }

  .main {
    background-color: #f7f5fc;
    margin: 0;
    padding: 1rem;
  }

  .nav {
    &__info { // ul
      background-color: #e8e5f0;
      margin: 0;
      padding: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: center;
      align-items: center;
      & li {
        font-size: 1.4rem;
        margin: 0 1rem 0 0;
        list-style: none;
        // width: 33vw;
      }
    }
  }